body{
	background-image : url("../img/wallhaven2.png");
}
/* Style nav et footer */
.fondgris{
	background-color : #000;
}
.logonav{
	width : 100px;
	margin-top : 10px;
}
nav{
	padding : 10px 0px;
	width : 100%;
}
footer{
	color : #fff;
	padding : 15px;
	bottom : 0px;
	position : fixed;
	width : 100%;
}
#ping{
	border-radius :10px;
	padding : 5px;
	background-color : red;
}
h2{
	color : #fff;
	font-size: 40px;
	text-shadow : 2px 2px #7C9718;
	text-align : center;
	margin-bottom : 50px;
}
/* Boutons */
.btn{
	color: #7CB518;
	background-color: #000;
	border : 1px solid #7CB518;
	border-radius: 4px;
	margin-top: 10px;
	-moz-transition: all 0.3s ease-in-out 0.3s;
}
.btn:hover{
	background-color: #7CB518;
	color: #000;
	-moz-transform : scale(1.5,1.5);
}

.btnpos{
	margin-bottom : 10px;
}
/* Formulaire */
form{
	text-align : center;
}
legend{
	color : #fff;
}
label{
	color : #fff;
}
/* Chat */
.chat{
	margin-top : 5%;
	margin-left : 10%;
	padding: 10px;
	width : 1200px;
	height : 400px;
	background-color: rgba(50,50,50,0.7);
	/* box-shadow : 2px 2px 15px 2px rgba(100, 255, 50, 0.9); */
	border-radius : 10px;
}
.imgchat{
	margin-top : 100px;
	margin-left : 400px;
}
.formchat{
	margin-top: 10px;
}
ul{
	max-height : 320px;
	overflow : auto;
	list-style-type : none; 
}
li{
	color: rgb(100, 255, 50);
}
#clickbtn{
	margin-top : -50px;
	background-color : #000;
	color : rgb(100, 255, 50);
	border : 2px solid rgb(100,255,50);
	border-radius: 4px; 
}
#userco{
	background-color : rgba(0,0,0,0.9);
	height: 320px;
	box-shadow : 1px 1px 10px 1px rgba(100, 255, 50, 0.9);
	border-radius : 10px;
}
#message{
	margin-left: -290px;
	background-color : rgba(0,0,0,0.9);
	color : rgb(100, 255, 50);
	border : 2px solid rgb(100,255,50);
	border-radius: 4px;
}
#envoyer{
	background-color : #000;
	color : rgb(100, 255, 50);
	border : 2px solid rgb(100,255,50);
	border-radius: 4px;
	position: absolute;
	right: -0.5%;
	padding: 1px 7px;
}
#addmessage{
	height : 320px;
	background-color : rgba(0,0,0,0.9);
	box-shadow : 1px 1px 10px 1px rgba(100, 255, 50, 0.9);
	border-radius : 10px;

}
#refreshmsg{
	background-color : #000;
	color : rgb(100, 255, 50);
	border : 2px solid rgb(100,255,50);
	border-radius: 4px;
}
